<h1><%= pluralize(Event.count, "Event")%></h1>

<ul>
  <% @events.each do |event| %>
  <li>
    <strong><%= event.name %></strong>
    <p>
      <%= truncate(event.description, length:7) %>
    </p>
    <p>
    in <%= event.location %>: <%= format_price(event)%>
    </p>
    <p>
    starts at <%= event.starts_at %>
    </p>

  </li>
  <% end %>
</ul>
